<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detailPreset</key>
	<string>e903b99a4f66d969e491a060fb4f28ed</string>
	<key>detailSize</key>
	<string>{1200, -1}</string>
	<key>images</key>
	<dict>
		<key>+z79v9g5QACVh0bfPUyPfA</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:30Z</date>
		</dict>
		<key>0f28Nb0dQ42emzNs9qp2Og</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:30Z</date>
		</dict>
		<key>26EZob9xQy28nLWax2DX2Q</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:30Z</date>
		</dict>
		<key>2JjJ7qiTQRGQYsM%XrGlFg</key>
		<dict>
			<key>index</key>
			<integer>14</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:31Z</date>
		</dict>
		<key>5oWeymINT4WXTBqaSWOtsg</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:29Z</date>
		</dict>
		<key>DlDgCgYOShyaranWoXznxg</key>
		<dict>
			<key>index</key>
			<integer>9</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:30Z</date>
		</dict>
		<key>QDerdvsxQyOHAT+FBQyqgg</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:29Z</date>
		</dict>
		<key>QbVdLL1yQSmD3DvAUm+DMQ</key>
		<dict>
			<key>index</key>
			<integer>12</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:31Z</date>
		</dict>
		<key>TO2p2pBbTuOGAz+RVru9bw</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:30Z</date>
		</dict>
		<key>ZrLkbrKZT+ODvHVeecp9MQ</key>
		<dict>
			<key>index</key>
			<integer>13</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:31Z</date>
		</dict>
		<key>gh2w3tf+QQuDWO2bnROcSg</key>
		<dict>
			<key>index</key>
			<integer>10</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:30Z</date>
		</dict>
		<key>vP4ZBHWwQ7yhDpM5SMVlng</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:29Z</date>
		</dict>
		<key>yNeev%1qSdS92kanF4ZC8g</key>
		<dict>
			<key>index</key>
			<integer>11</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:30Z</date>
		</dict>
		<key>yjf5hW9zQraP21iomnE6dA</key>
		<dict>
			<key>index</key>
			<integer>8</integer>
			<key>modDate</key>
			<date>2012-12-11T17:57:30Z</date>
		</dict>
	</dict>
	<key>thumbPreset</key>
	<string>9febe6c7f42ea4b8908768ced100bcdf</string>
	<key>thumbSize</key>
	<string>{160, 160}</string>
	<key>version</key>
	<integer>200</integer>
</dict>
</plist>
