/*Body*/
BODY
{
	font-size: 62.5%;;
}
#admin-menu
{
	font-size: 1.2em;
}
BODY, H1, H2, H3, H4, H5, H6
{
	font-family: "Helvetica Neue", Helvetica, Arial;
}
/*Menu*/
#region-menu NAV.navigation > UL.menu > LI > A
{
	font-size: 1.5em;
	line-height: 1em;
}
#region-menu NAV.navigation > UL.menu > LI > UL, #region-menu NAV.navigation > UL.menu > LI > DIV, #region-menu NAV.navigation-secondary > UL.menu > LI > A
{
	font-size: 1.2em;
}
/*Blocks*/
DIV.block-title H2.block-title
{
	font-size: 2.4em;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}
/*Content*/
#messages, UL.action-links, UL.tabs, #zone-preface .region-inner > .block > .content, #zone-content .region-inner > .block > .content, #zone-postfix .region-inner > .block > .content
{
	font-size: 1.4em;
}
#zone-footer .region-inner > .block > .content
{
	font-size: 1.2em;
}
/*Headers*/
H1
{
	font-size: 2.8em;
}
H2
{
	font-size: 2.4em;
}
H3
{
	font-size: 2em;
}
H4
{
	font-size: 1.6em;
}
H5
{
	font-size: 1.4em;
}
.block > .content H1
{
	font-size: 2em;
}
.block > .content H2
{
	font-size: 1.714em;
}
#block-system-main .view-id-services .node-title
{
}
.block > .content H3
{
	font-size: 1.429em;
}
.block > .content H4
{
	font-size: 1.143em;
}
.block > .content H5
{
	font-size: 1em;
}
DIV.caption
{
	font-size: 0.9em;
	text-align: justify;
	margin-right: 5%;
	margin-left: 5%;
}
#block-system-main .view-id-services .node-title
{
	/*[disabled]border-top:1px solid #000000;*/
	border-bottom: 1px solid #AAA7A7;
	margin-top: 30px;
}
