/* @override http://gcs.loc/sites/all/themes/prolifik/css/prolifik-alpha-default-narrow.css?mbfgwv */

/* This file will hold styles that are loaded using the same media query as the narrow grid. */

.logo-img {
  float: left;
  text-align: left;
}

/* User */
#region-user-first,
#region-user-second {
  margin: 0;
  position: absolute;
  right: 20px;
  top: 0;
  width: 50%;
}

/* Search Form */
#block-search-form {
  margin: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 25px;
  width: 300px;
  z-index: 1;
}
#block-views-fpss-block div.view-footer  {display: block;
	border-top: medium solid white;
	padding-top: 20px;
	overflow: visible;
	width: 120%;
	clear: both;
}

#block-views-fpss-block div.view-footer p a img { margin-left: 10px; max-width: 150px; height: auto;}

div.fpss-left {
width: 48%; float: left;margin-right: 1%;
}
div.fpss-slide img {
	float: right;
	border: thick solid white;
	position: relative;
	top: 65px;
	max-width: 330px;
	height: auto;
}