/* @override 
	http://lasik.prolifikseo.com/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?mrztrf
	http://lasik.prolifikseo.com/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?ms0523
	http://lasik.prolifikseo.com/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?ms06gx
	http://lasik.prolifikseo.com/sites/all/themes/prolifik/css/prolifik-alpha-default-normal.css?ms1k11 */

/* This file will hold styles that are loaded using the same media query as the normal grid. */

.logo-img {zoom: .4;}
#block-bean-tagline p {
	font-size: 2.75em;
	line-height: 1em;
	margin-top: 10px;
}

/* Search Form */
#block-search-form {
  position: absolute;
  right: 0;
  text-align: right;
  top: 35px;
  width: 300px;
  z-index: 1;
}
#section-content {padding-bottom: 150px;}

#block-block-2 div.content p, #block-views-latest-articles-block div.view-content {
	height: 174px;
}