/* @override 
	http://gcs.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-footer.css?mexge2 */
	
/* Footer */
#zone-footer {
	padding-right: 10px;
	padding-left: 10px;
}


#zone-footer-wrapper {
  z-index: 1;
	padding-top: 10px;
	-webkit-box-shadow: #666 0px 0px 10px;
-moz-box-shadow: #666 0px 0px 10px;
box-shadow: #666 0px 0px 10px;
background: #ecf0f3;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZjBmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ecf0f3 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf0f3), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #ecf0f3 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #ecf0f3 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #ecf0f3 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #ecf0f3 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f3', endColorstr='#ffffff',GradientType=0 );
}
#zone-footer-wrapper a,
#zone-footer-wrapper a:link
#zone-footer-wrapper a:visited {
  color: #004685;
}
#zone-footer-wrapper .block .content {
  color: black;
}
#zone-footer-wrapper div.block-title {
  margin: 15px 0;
}
#zone-footer-wrapper div.block-title h2.block-title div.separator {
  background-image: url(../images/separator-white.png);
}
#zone-footer-wrapper p {
  margin: 0;
  padding: 0;
  color: #004685;
}
#region-footer-first,
#region-footer-second {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}
#region-footer-bottom {
  margin: 0;
  padding: 20px 0;
  width: 100%;
}
#region-footer-bottom .region-inner {
  padding: 0 20px;
}
#region-footer-bottom img {
  vertical-align: middle;
}
#region-footer-bottom img.levelten {
  position: relative;
  top: 2px;
}

/* Legal Notices Menu */
#region-footer-bottom .block {
  float: left;
}
#region-footer-bottom #block-menu-menu-legal-notices {
  float: right;
}
#region-footer-bottom #block-menu-menu-legal-notices .block-title {
  display: none;
}
#region-footer-bottom #block-menu-menu-legal-notices li {
  background: none;
  float: left;
  list-style: none;
}

body > #page #zone-footer h1, body > #page #zone-footer h2, body > #page #zone-footer h3,
body > #page #zone-footer h4, body > #page #zone-footer h5, body > #page #zone-footer h6, #zone-footer div.block-title {
  color: #004685;
	margin-bottom: 0;
	margin-top: 0;
}

#zone-footer label {
	color: #004685;
}

div.location-top {
	text-align: center;
}

div.location {
	float: left;
	margin-top: 20px;
	margin-right: 10px;
	width: 45%;
	margin-bottom: 20px;
}

div.location-br {
	float: left;
	clear: both;
	margin-top: 10px;
	margin-right: 10px;
	width: 45%;
}
