/* @override 
	http://gcs.loc/sites/all/themes/prolifik/css/prolifik-base.css?mbfgwv
	http://gcs.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-base.css?mbn3h8
	http://gcs.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-base.css?mbp0oy
	http://gcs.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-base.css?mbxzhn
	http://gcs.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-base.css?mexge2
*/

/* This file will hold the main styles for your website. */
body {
}

/* @group Testimonials */

#views_slideshow_cycle_div_testimonials-block_0 div div.testimonial-author p {float: right;}
/* @group Page */

#block-system-main div.view-id-testimonials.view-display-id-page div.views-row {
	clear: both;
}



/* @end */



/* @end */

/* @group Front Block */

#views_slideshow_cycle_div_testimonials-block_0 div.testimonial-body p, #block-block-2 div.content p {font-size: 1.2em;}


/* @end */

ul.towns {
	color: #ffffff;
	font-size: 24px;
	float: left;
}

div.front-readmore, div.readmore {
	padding: 10px;
	border-radius: 10px;
	background-color: #004685;
	float: right;
}
div.readmore a,div.front-readmore a {
	color: white;
}

#block-system-main .view-id-services div.views-row {clear: both;
	border-bottom: thin solid #0d4082;
	padding-bottom: 60px;
	margin-top: 30px;
}

#block-views-services-block-1 div.block-title h2.block-title div.text {
	margin-bottom: 20px;
	border-bottom: thin solid #0d4082;
	color: #0d4082;
}


#block-views-testimonials-block div.block-title h2.block-title div.text {font: 24px Sans; text-align: left;
	background: url(../images/opthamology_review.png) no-repeat;
	padding-left: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #004685;
}

#block-block-2 div.block-title h2.block-title div.text {font: 24px Sans; text-align: left;
	background: url(../images/opthamology_services.png) no-repeat;
	padding-left: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #004685;
	
}

#block-views-latest-articles-block div.block-title h2.block-title div.text {
	font: 24px Sans; text-align: left;
	background: url(../images/news.png) no-repeat;
	padding-left: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #004685;
}

/* Links */
a, a:link {
  text-decoration: none;
}
a, a:link, a:visited, a:active {
  color: #004685;}

/* @group Staff Page */

.node-staff figure.field.field-name-field-image img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.node-staff h2.node-title {
	border-top: thin solid silver;
	padding-top: 20px;
}



/* @end */

#block-views-latest-articles-block {
	background: #96dbf7;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2ZGJmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #96dbf7 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96dbf7), color-stop(100%,#ffffff));
background: -webkit-linear-gradient(top,  #96dbf7 0%,#ffffff 100%);
background: -o-linear-gradient(top,  #96dbf7 0%,#ffffff 100%);
background: -ms-linear-gradient(top,  #96dbf7 0%,#ffffff 100%);
background: linear-gradient(to bottom,  #96dbf7 0%,#ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96dbf7', endColorstr='#ffffff',GradientType=0 );
	padding: 10px;
	border-radius: 10px;
	min-height: 250px;
}

#block-block-2, #block-views-testimonials-block {
	padding: 10px;
	min-height: 250px;
}


a:hover {
  text-decoration: underline;
}

/* Headers */
body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  border-color: #D4D4D4;
  color: #191F53;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: #191F53;
}

/* Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

/* Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Page */
#page {
  position: relative;
}

/* Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}



/* Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}

/* Content */

ul.tabs {
  *padding-top: 1px;
}

div.image-left a img, div.left img {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#block-block-2 div.content div div {
	color: white;
}

/* @group Quicktabs */

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
	font-weight: bold;
}

#quicktabs-_none_ div.item-list ul.quicktabs-tabs.quicktabs-style-nostyle li {
	  background: rgb(242,237,237); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMiUiIHN0b3AtY29sb3I9IiNmMmVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkM2NmZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,237,237,1) 32%, rgba(211,207,208,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(32%,rgba(242,237,237,1)), color-stop(99%,rgba(211,207,208,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* IE10+ */
background: linear-gradient(top,  rgba(242,237,237,1) 32%,rgba(211,207,208,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eded', endColorstr='#d3cfd0',GradientType=0 );

}


ul.quicktabs-tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 1%;
  white-space: nowrap;
	border-top: thin solid #CACCCB;
	border-right: thin solid #CACCCB;
}

ul.quicktabs-tabs li a {
	color: #253690;
}


/* @end */