BODY
{
	font: initial;
}
A:link, A:visited
{
	color: #0062A0;
	text-decoration: underline;
}
A:hover
{
	color: #202124;
	text-decoration: none;
}
A:active
{
	color: #202124;
	text-decoration: none;
	color: #000;
}
HR
{
	margin: 0;
	padding: 0;
	border: none;
	height: 1px;
	background: #5294C1;
}
H1, H2, H3, H4, H5, H6
{
	letter-spacing: -0.05em;
	font-family: Georgia, "Times New Roman", serif;
}
H1
{
	font-size: 36px;
}
H2
{
	font-size: 28px;
}
/*Make site titles the same size if it's an H1 (home) or H2 (internal)*/
H1.site-name, H2.site-name
{
	font-size: 36px;
}
/*Make it a bit smaller for block headers*/
H2.block-title
{
	font-size: 18px;
	margin: 0;
}
H2.node-title
{
	font-size: 28px;
}
H3
{
	font-size: 21px;
}
H4
{
	font-size: 19px;
}
H5
{
	font-size: 17px;
}
H6
{
	font-size: 15px;
}
OL
{
	list-style: decimal;
}
UL
{
	list-style: disc;
}
UL UL, OL OL
{
	padding-top: 0.5em;
}
.node OL, .node UL
{
	padding-left: 1.2em;
}
.node UL.inline, .node OL.inline
{
	padding-left: 0;
}
P, DL, HR, H1, H2, H3, H4, H5, H6, OL, UL, PRE, TABLE, ADDRESS, FIELDSET
{
	margin-bottom: 20px;
}

DT, .admin H3
{
	font-size: 18px;
	margin: 0;
}
DD
{
	padding-left: 10px;
	font-size: 0.9em;
	font-style: italic;
	margin-bottom: 20px;
}
